* {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}



body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

header {
    background: #595858;
}

header nav {}

header i {
    color: lightgray;
    font-size: 1em;
    padding: 0.5em;
}
#headerOne {
    text-decoration: none;
    color: lightgray;
    padding: 0.5em;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: #595858;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: lightgray;
    padding: 0.5em;
    font-size: 0.7em;
}

#evenements {
    padding-top: 3em;
}

.title-assoc {
    text-align: center;
}
      
.text-article {
    text-align: justify;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.article-assoc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0.5em;
    border: solid #8080801a 1px;
    border-radius: 5px;
    padding: 1em;
    background-color: #d3d3d32b;

    
}

footer {
	background-color:#595858;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
    margin-top: 20%;
}

footer a {
    color: lightgrey;
    text-decoration: none;
    font-size: 0.8em;
}

.fab {
	color:white;
	font-size: 3em;
	padding-right: 5px;
}

hr {
    width: 60%;
    margin-bottom: 4em;
}

#divIcones {
    padding: 10px;
}
a:hover {
    color: white ;
}
#lienModal {
    color: lightgrey;
    font-size: 0.8em;
}
#lienModal:hover {
    color: white;
    cursor: pointer; 
}
.far:hover {
    cursor: pointer;
}
#aPropos{
    display: none;
    position: absolute;
    bottom: : 0%;
    left: 25%;
    background: white;
    width: 50%;
    border-radius: 15px;
    padding-left:1em;
    padding-right: 1em ; 
    text-align: justify;
    box-shadow: 5px 5px 10px lightgrey;
}
@media screen and (min-width:769px) {
    body {
        background-color: lightgrey;
    }
    .layout {
        background-color: white;
        max-width: 960px;
        margin: 0 auto;
        box-shadow: 5px 5px 10px #595858;
    }
    .header-layout {

    }

    header nav {
        height: 5em;

    }
    header a {
        font-size: 2.5em;
    }
    nav ul li a {
        font-size: 2em;
        
    }
    
    
    #evenements {
    padding-top: 4em;
    }


  .article-assoc {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2%;
        box-shadow: 5px 5px 10px lightgrey;
        margin: 20px auto;
        

    }
    .section-assoc {
        
        margin-top: 5%;
        height: auto;
        margin-bottom: 0;
        justify-content: center;
        
    }

    footer {
        margin-top: 0;
    }



    
}
