@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: "Quicksand";
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.layout {
    max-width: 960px;
}

nav {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: #595858;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #f7971e 0%, #ffd200 100%);
}

.header-layout {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.7em;
    font-size: 1.2em;
}

nav a:hover {
    color: rgb(95, 95, 95);
}

.divlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5.5em;
    padding-bottom: 5%;
}

.title-devmeet {
    text-align: center;
}

.bras-long {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji-bras {
    width: 20%;
}

#evenements {
    padding-top: 3em;
}

.title-assoc {
    text-align: center;
    font-size: 2.4em;
}

.triangle {
    margin-right: 0.2em;
}

.article-assoc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0.5em;
    border: solid #8080801a 1px;
    border-radius: 5px;
    padding: 1em;
    background-color: #d3d3d32b;
}

.article-assoc img {
    max-width: 100%;
}

.name-assoc {
    text-align: center;
}

.img-assoc {
    width: 65%;
}

.text-article {
    text-align: justify;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 100%;
}

#lignegauche {
    background-color: #ffd200;
    width: 4px;
    padding: 0;
    margin: 0;
}

.links-assoc {}

footer {
    background: linear-gradient(90deg, #f7971e 0%, #ffd200 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 20%;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.fab {
    color: white;
    font-size: 3em;
    padding-right: 5px;
}

#associations {
    width: 80%;
    margin-bottom: 4em;
    color: #ffd200;
    resize: 2;
}

.sousTitre {
    width: 25%;
    height: 4px;
    color: orange;
    border: none;
    background-color: orange;
    margin-top: -1em;
}

#divIcones {
    padding: 10px;
}

a:hover {
    color: lightgrey;
    text-decoration: underline;
}

#lienModal {
    color: white;
    font-size: 1em;
}

#lienModal:hover {
    color: lightgrey;
    cursor: pointer;
}

.far:hover {
    cursor: pointer;
}

#aPropos {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 25%;
    background: white;
    width: 50%;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    box-shadow: 5px 5px 10px lightgrey;
}

@media screen and (min-width:769px) {
    body {
        background: linear-gradient(to bottom, #56ab2fcb 0%, #a8e063a4 100%);
    }
    .layout {
        background-color: white;
        max-width: 80%;
        margin: 0 auto;
        box-shadow: 5px 5px 10px #595858;
    }
    header nav {
        height: 5em;
    }
    header a {
        font-size: 2em;
    }
    nav ul li a {
        font-size: 1.5em;
        padding: 0.9em;
    }
    .divlogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 1%;
        margin-top: 5em;
    }
    .title-devmeet {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 3em;
        text-align: center;
    }
    .title-devmeet2 {
        text-align: center;
        font-size: 2.8em;
    }
    .bras-long {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .emoji-bras {
        width: 5%;
    }
    .title-evenement {
        text-align: center;
        margin-top: 8%;
    }
    #evenements {
        padding-top: 4em;
    }
    .article1 {
        display: flex;
        flex-direction: row;
    }

    .content-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .img-assoc {
       max-width: 50%;
    }
    .article-assoc {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2%;
        box-shadow: 5px 5px 10px lightgrey;
        margin: 20px auto;
        flex-wrap: wrap;
    }
    .section-assoc {
        margin-top: 5%;
        height: auto;
        margin-bottom: 0;
        justify-content: center;
    }
    footer {
        margin-top: 0;
    }
}